body {
    background-image: linear-gradient(to bottom, #6effa8, #c9fede);
    font-family: Arial, Helvetica, sans-serif;
}

.header-group {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}

.header-left {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 0 100px 0 0;
}

.header-right {
    background-color: #adffce;
    max-height: 80px;
}

.header-right nav {
    display: flex;
}

.header-right a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.menu-text,
.menu-text-active {
    padding: 30px;
    border: 1px solid #97e0b4;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.menu-text-active {
    background-color: #12ff71;
}

.menu-text:hover {
    background-color: #00ff66;
}

.menu-text-active:hover {
    background-color: #adffce;
    font-weight: 500;
}

.smaak-vdd img {
    max-width: 150px;
    border-radius: 1000px;
}

.smaak-vdd {
    background-color: white;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.main-text h2{
    margin-bottom: 0;
}

.text-1 h3{
    margin-top: -15px;
}

.main-left .smaak-vdd a,
.main-left .populaire-smaken a {
    text-decoration: none;
    color: #000000;
}

.bestel-knop-1 {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.populaire-smaken {
    background-color: #FFFFFF;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin: 25px 0 0 0;
}

.populaire-smaken img {
    max-width: 100px;
    border-radius: 1000px;
}

.text-1 h4{
    margin: 0;
}

.text-1 h4:last-child{
    margin: 0 0 15px 0;
}

.main-group {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}

.main-main {
    background-color: #FFFFFF;
    width: 810px;
    height: 780px;
    border-radius: 25px;
    margin: -75px 0 0 0;
}

.main-left {
    margin: 0 80px 0 0;
}

.main-overons {
    padding: 50px;
}

.article-image-1 img {
    max-width: 300px;
}

.main-overons article {
    display: flex;
    margin: 0;
}

.article-left-1 {
    margin-right: 20px;
}

.article-right-2 {
    margin-left: 20px;
}

.main-overons .main-text {
    margin: 0 0 20px 0;
}

.main-bestellen .main-text {
    margin: 0 0 20px 0;
}

.main-bestellen {
    padding: 50px;
}

article h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.article-center-1 {
    margin: 30px 0;
}

.footer-group {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1170px;
    height: 125px;
    border-radius: 25px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}

.footer-text h6,
.footer-middle h6 {
    margin: 0 0 5px 0;
    font-size: 15px;
}

.footer-text,
.footer-middle {
    display: flex;
    flex-direction: column;
}

.ijs-item img {
    max-width: 125px;
    border-radius: 1000px;
}

.ijs-item {
    background-color: white;
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 0px 5px;
    mix-blend-mode: multiply;
}

.ijs-item a {
    text-decoration: none;
    color: #000000;
    padding-left: 10px;
}

.ijs-item-lower {
    display: flex;
    height: 42px;
    align-items: stretch;
    margin-top: -10px;
}

.ijs-item-lower input {
    width: 55px;
}

.ijs-items-1,
.ijs-items-2,
.ijs-items-3 {
    display: flex;
    justify-content: center;
}

.ijs-items-2,
.ijs-items-3 {
    padding-top: 20px;
}

.blog-article-1,
.blog-article-2 {
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.blog-article-1 .main-text h2,
.blog-article-2 .main-text h2 {
    margin-top: 0px;
}

.blog-article-2 {
    margin-top: 20px;
}

.svdd-1,
.svdd-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pps-item-1,
.pps-item-2,
.pps-item-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ijs-items-links,
.ijs-items-rechts {
    display: flex;
}